<h2>Create Products by Form</h2>
<hr>
<a href="/">List Products</a>
<hr>
<form action="/form" method="post" id="form">
  <label for="name">Name:</label>
  <input type="text" name="title"><br /><br />

  <label for="name">Price:</label>
  <input type="number" name="price"><br /><br />

  <label for="name">Stock:</label>
  <input type="number" name="stock"><br /><br />

  <label for="name">Code:</label>
  <input type="number" name="code"><br /><br />

  <label for="name">Category:</label>
  <input type="text" name="category"><br /><br />

  <label for="name">Thumbnails:</label>
  <input type="text" name="thumbnails"><br /><br />

  <label for="description">Description:</label><br />
  <textarea rows="4" cols="50" name="description"></textarea><br />
  <button type="submit">Create</button>
</form>